.glyphicon-user {
    color: #ffffff;
    margin-right: 25px;
}

.glyphicon-picture{
    color: #ffffff;
    margin-right: 30px;
}
.container-fluid {
    background-color: #79dcc2;
    margin-top: 1px;
    height: 50px;
}

.logo {
    position: absolute;
    left: 30px;
    top: -75px;
    width: 122px;
    height: 122px;
}

.circle-border {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid rgba(255, 255, 255, .7);
    background-clip: padding-box;
}
blockquote {
    border-left-color: #79dcc2;
    margin-left: 50px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
cite {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.page{
	display: none;
}

.page.active{
	display: block;
}
.photo {
    width: 200px;
    margin: 0 auto;
}
.lasttx{
    margin-bottom: 200px;
}
